openapi: 3.1.0
info:
  title: Google Voice Locations API
  description: Google Voice is a telecommunications service by Google that provides call forwarding, voicemail, text messaging, and voice calling. While Google Voice does not offer an official public REST API, the platform integrates with Google Workspace for business telephony. This specification documents the known endpoints and capabilities based on the Google Workspace Admin SDK and related voice management interfaces for provisioning and managing Google Voice services programmatically.
  version: 1.0.0
  contact:
    name: Google Voice
    url: https://voice.google.com
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
servers:
- url: https://admin.googleapis.com
  description: Google Workspace Admin SDK Server
tags:
- name: Locations
  description: Manage Google Voice locations
paths:
  /admin/directory/v1/customer/{customerId}/resources/buildings:
    get:
      operationId: listBuildings
      summary: Google Voice List Buildings
      description: Lists buildings associated with the Google Workspace customer, which can be used for Google Voice location assignments.
      tags:
      - Locations
      parameters:
      - name: customerId
        in: path
        required: true
        description: The Google Workspace customer ID.
        schema:
          type: string
      responses:
        '200':
          description: Successful response with building list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuildingListResponse'
components:
  schemas:
    Building:
      type: object
      properties:
        buildingId:
          type: string
          description: Unique identifier for the building.
        buildingName:
          type: string
          description: Name of the building.
        description:
          type: string
          description: Description of the building.
        address:
          type: object
          properties:
            addressLines:
              type: array
              items:
                type: string
            locality:
              type: string
            administrativeArea:
              type: string
            postalCode:
              type: string
            regionCode:
              type: string
        floorNames:
          type: array
          items:
            type: string
    BuildingListResponse:
      type: object
      properties:
        kind:
          type: string
        buildings:
          type: array
          items:
            $ref: '#/components/schemas/Building'
externalDocs:
  description: Google Voice Help
  url: https://support.google.com/voice
